.about-container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    overflow: auto;
    height: 0;
}

.about-content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.about-header {
    font-size: 14px;
    margin-top: 5px;
}

.highlight {
    color: #89b025;
}