.tools-container {
    padding: 15px;
}

.tools-container .btn {
    margin-top: 0;
    margin-bottom: 0;
}

.tools-container .form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.tools-container .form-group {
    margin: 0 10px;
}