.tools-container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    flex-direction: column;
    background-color: #1B1C20;
}

.tools-container.show .tools-content {
    display: flex;
}

.tools-container.show .tools-icon path {
    fill: #89b025;
}

.tools-header {
    padding: 10px 20px;
    display: flex;
    flex: 1 0 auto;
    transform: translate3d(0 ,0, 0);
    justify-content: center;
}

.tools-icon {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.tools-icon path {
    transition: fill .3s ease;
}

.tools-icon:hover path {
    fill: #89b025;
}

.tools-content {
    display: none;
    padding: 10px 25px;
    background-color: #22262d;
    width: 100%;
}

.tools-content .btn {
    margin-top: 0;
    margin-bottom: 0;
}
