.new-post-container .post-title {
    display: block;
}

.post-creator-container {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
}

/* TODO: refactor this to separate files */
.flex-column {
    flex: 1 1 50%;
    padding: 25px;
    overflow-y: auto;
}
