html,body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
    /*background-color: #181818;*/
    /*background-color: #1a1a1a;*/
    background-color: #1B1C20;
    line-height: 1.5;
    color: rgba(255, 255, 255, .9);
    -webkit-font-smoothing: antialiased;
}

a,
a:active,
a:focus,
a:hover {
    text-decoration: none;
}

.flex-row {
    display: flex;
    height: 100%;
}

.flex-column {
    position: relative;
    margin-left: 500px;
    flex: 1 1 auto;
    padding: 25px;
    overflow-y: auto;
}

.flex-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    overflow: hidden;
    height: 100%;
}

.App {
    height: 100%;   
}

.main-content {
    height: 100%;
}