* {
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

html {
    -webkit-font-smoothing: antialiased
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
    background-color: #1B1C20;
    line-height: 1.5;
    color: rgba(255, 255, 255, .9);
}

a,
a:active,
a:focus,
a:hover {
    color: #fff;
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
    opacity: .5;
    cursor: default;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* TODO: move to utils.css */
.flex-center {
    display: flex;
    height: 100%;
    flex: auto;
    justify-content: center;
    align-items: center;
}

#root {
    height: 100%;
}

.App {
    height: 100%;   
}

.pagewrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}