.additional-container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    overflow: auto;
    height: 0;
}

.additional-content {
    padding: 25px;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    flex-direction: column;
}